In [1]:
# Import Libraries

In [2]:
import pandas as pd

In [3]:
# Dataset Import

In [4]:
#imports data and saves dataframes using pandas
education_data = pd.read_csv("../data/EducationEnrichment_data_with_overlays.csv")
main_data = pd.read_csv("../data/covid_large.csv")

In [5]:
# Datasat Manipulation

In [7]:
#selects only necessary collumns
education_data0 = education_data[['NAME', 'DP02_0053E', 'DP02_0054E', 'DP02_0055E', 'DP02_0056E', 'DP02_0057E', 'DP02_0058E', 'DP02_0059E', 'DP02_0060E', 'DP02_0061E', 'DP02_0062E', 'DP02_0063E', 'DP02_0064E', 'DP02_0065E', 'DP02_0066E', 'DP02_0067E', 'DP02_0068E', 'DP02_0151E', 'DP02_0152E', 'DP02_0153E']]

#removes header row for merge
education_data1 = education_data0.drop([0])

#rename columns
education_data1.rename(columns = {'NAME':'County Name'}, inplace = True)
education_data1.rename(columns = {'DP02_0053E':'Total population 3yrs+ in School'}, inplace = True)
education_data1.rename(columns = {'DP02_0054E':'Population 3yrs+ in preschool'}, inplace = True)
education_data1.rename(columns = {'DP02_0055E':'Population 3yrs+ in kindergarten'}, inplace = True)
education_data1.rename(columns = {'DP02_0056E':'Population 3yrs+ in grades 1 - 8'}, inplace = True)
education_data1.rename(columns = {'DP02_0057E':'Population 3yrs+ in grades 9 - 12'}, inplace = True)
education_data1.rename(columns = {'DP02_0058E':'Population 3yrs+ in college or grad school'}, inplace = True)
education_data1.rename(columns = {'DP02_0059E':'total opulation 25yrs+'}, inplace = True)
education_data1.rename(columns = {'DP02_0060E':'Population 25yrs+ with less than grade 9'}, inplace = True)
education_data1.rename(columns = {'DP02_0061E':'Population 25yrs+ with some highschool, no diploma'}, inplace = True)
education_data1.rename(columns = {'DP02_0062E':'Population 25yrs+ with highschool diploma/GED'}, inplace = True)
education_data1.rename(columns = {'DP02_0063E':'Population 25yrs+ with some college, no degree'}, inplace = True)
education_data1.rename(columns = {'DP02_0064E':'Population 25yrs+ with associates degree'}, inplace = True)
education_data1.rename(columns = {'DP02_0065E':'Population 25yrs+ with bachelors degree'}, inplace = True)
education_data1.rename(columns = {'DP02_0066E':'Population 25yrs+ with graduate/professional degree'}, inplace = True)
education_data1.rename(columns = {'DP02_0067E':'Population 25yrs+ highschool graduate or higher'}, inplace = True)
education_data1.rename(columns = {'DP02_0068E':'Population 25yrs+ bachelors degree or higher'}, inplace = True)
education_data1.rename(columns = {'DP02_0151E':'Total Households'}, inplace = True)
education_data1.rename(columns = {'DP02_0152E':'Total Households with a computer'}, inplace = True)
education_data1.rename(columns = {'DP02_0153E':'Total Households with a broadband internet subscription'}, inplace = True)

#make country name lowercase and remove state name after comma
education_data1['County Name'] = education_data1['County Name'].apply(lambda cn: cn.lower().strip())
education_data1['County Name'] = education_data1['County Name'].apply(lambda cn: cn.split(",")[0])

In [8]:
# Merge Datasets and Display

In [9]:
#merge main covid-19 data with education data
COVID_Education_data = pd.merge(main_data, education_data1)

#display new merged data
COVID_Education_data

,State,countyFIPS,County Name,Date,Num of Cases,Num of Deaths,population,Total population 3yrs+ in School,Population 3yrs+ in preschool,Population 3yrs+ in kindergarten,...,Population 25yrs+ with highschool diploma/GED,"Population 25yrs+ with some college, no degree",Population 25yrs+ with associates degree,Population 25yrs+ with bachelors degree,Population 25yrs+ with graduate/professional degree,Population 25yrs+ highschool graduate or higher,Population 25yrs+ bachelors degree or higher,Total Households,Total Households with a computer,Total Households with a broadband internet subscription
0,AL,1003,baldwin county,2020-01-22,0,0,223234,47583,1824,3012,...,41884,35034,16170,32781,18690,144559,51471,82325,77281,71352
1,AL,1003,baldwin county,2020-01-23,0,0,223234,47583,1824,3012,...,41884,35034,16170,32781,18690,144559,51471,82325,77281,71352
2,AL,1003,baldwin county,2020-01-24,0,0,223234,47583,1824,3012,...,41884,35034,16170,32781,18690,144559,51471,82325,77281,71352
3,AL,1003,baldwin county,2020-01-25,0,0,223234,47583,1824,3012,...,41884,35034,16170,32781,18690,144559,51471,82325,77281,71352
4,AL,1003,baldwin county,2020-01-26,0,0,223234,47583,1824,3012,...,41884,35034,16170,32781,18690,144559,51471,82325,77281,71352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840160,WY,56025,natrona county,2020-09-10,335,2,79858,19578,1672,693,...,18647,14042,6541,7628,3593,50451,11221,33044,31121,28509
840161,WY,56025,natrona county,2020-09-11,347,2,79858,19578,1672,693,...,18647,14042,6541,7628,3593,50451,11221,33044,31121,28509
840162,WY,56025,natrona county,2020-09-12,356,2,79858,19578,1672,693,...,18647,14042,6541,7628,3593,50451,11221,33044,31121,28509
840163,WY,56025,natrona county,2020-09-13,368,2,79858,19578,1672,693,...,18647,14042,6541,7628,3593,50451,11221,33044,31121,28509
840164,WY,56025,natrona county,2020-09-14,372,2,79858,19578,1672,693,...,18647,14042,6541,7628,3593,50451,11221,33044,31121,28509